.marker {
    background-color: white;
}

.pump-image {
    width: 40px;
    height: 40px;
    align-items: center;
    padding: 0;
}

.map-container {
    height: 600px;
    margin: 0 50px;

    .info-container {
        position: absolute;
        background-color: #EDF5E1;
        height: 500px;
        width: 91%;
        z-index: 1;
        margin: 50px 60px;
        font-size: 30px;

        .pump-detail {
            display: flex;
    
            .leftSide {
                padding-left: 50px;
                padding-top: 50px;
    
                .show-id {
                    display: flex;
                    padding-bottom: 40px;
    
                    div {
                        padding: 10px 0px;
                    }
    
                    .id {
                        background-color: white;
                        padding: 10px 10px;
                        margin-left: 20px;
                    }
                }
    
                .show-water-remain {
                    padding-bottom: 40px;
    
                    .text {
                        padding-bottom: 40px;
                        text-align: left;
                    }
                    .full {
                        width: 400px;
                        height: 50px;
                        background-color: white;
    
                        .water-remain {
                            background-color: #87CEEB;
                            width: 80%;
                            height: 50px;
                        }
                    }

                    .percent {
                        padding-top: 15px;
                        padding-left: 20px;
                    }
                }
    
                .setting-water {
                    display: flex;
    
                    div {
                        padding: 10px 0px;
                    }
    
                    .text {
                        text-align: left;
    
                        input {
                            margin-left: 20px;
                            width: 120px;
                        }
                    }
                }
            }
    
            .rightSide {
                text-align: left;
                padding-left: 50px;
                
                input {
                    margin-left: 20px;
                    padding: 5px;
                }

                .start-time {
                    padding: 20px 20px;
                }
    
                .end-time {
                    padding: 20px 20px;
                }
            }
        }

        .buttons {
            display: flex;
            margin-top: 80px;
            text-align: center;
            padding-left: 420px;
            button {
                border: none;
                height: 50px;
                width: 180px;
                border-radius: 10px;
            }

            .back {
                background-color: #D9D9D9;
            }

            .update {
                background-color: #05386B;
                color: white;
                margin-left: 70px;
            }
        }
    }
}

.map-container #close {
    display: none;
}