* {
    margin: 0;
    padding: 0;
}

#open .manage-task {
    display: none;
}

#close .add-task {
    display: none;
}

.area {
    background-color: #edf5e1;
    margin-left: 50px;

    .manage-task {
        .show-task-list {
            .add {
                .add-button {
                    background-color: #05386b;
                    padding: 10px 10px;
                    color: white;
                    font-weight: bold;
                    margin-top: 20px;
                    margin-left: 980px;
                }
            }
        
            .task-list {
                ul {
                    list-style-type: none;
                    padding: 20px 0px;
        
                    li {
                        background-color: white;
                        margin: 20px 70px;
                        padding: 20px;
                        display: flex;
                        align-items: center;
        
                        h2 {
                            margin: 0;
                            padding: 0;
                            padding-left: 40px;
                            font-size: 40px;
                            width: 800px;
                            text-align: left;
                        }
        
                        .time-icon {
                            width: 40px;
                            height: 40px;
                            align-items: center;
                            padding: 0;
                        }
        
                        .time {
                            font-size: 40px;
                            align-items: center;
        
                            p {
                                margin: 0;
                                padding: 0;
                                margin-left: 10px;
                                width: 160px;
                                text-align: left;
                            }
                        }
        
                        .option {
                            position: relative;
                            display: inline-block;
        
                            .option-icon {
                                position: relative;
                                margin-left: 150px;
                                right: 10px;
                                width: 40px;
                                height: 40px;
                            }
                        }
                        
                        .option-content {
                            display: none;
                            position: absolute;
                            top: 25px;
                            left: 20px;
                            background-color: #f9f9f9;
                            min-width: 160px;
                            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                            padding: 12px 16px;
                            z-index: 1; 
                        }
                        
                        .option-content button {
                            margin: 0;
                            border: none;
                            background-color: #f9f9f9;
                        }
                        
                        .option:hover .option-content {
                            display: block;
                        }
                    }
                }
            }
        }
        .show-add-task {
            
        }
    }
    .add-task {
        .section {
            padding: 40px 0px;
            text-align: left;
            margin-left: 50px;

            input {
                width: 95%;
                height: 80px;
                font-size: 40px;
            }

            input[type=text] {
                padding-left: 50px;
            }
        }

        .description {
            display: flex;
            text-align: left;
            margin-left: 50px;
            padding-bottom: 50px;

            .leftside {
                textarea {
                    font-size: 40px;
                    height: 400px;
                    padding: 15px 50px;
                    margin-right: 100px;
                }
            }

            .rightside {
                font-size: 30px;

                input {
                    margin: 0px 20px 40px 20px;
                    padding-left: 20px;
                }

                .add-task-button {
                    position: absolute;
                    right: 200px;
                    bottom: 40px;

                    button {
                        padding: 10px 20px;
                        margin: 0px 20px;
                    }

                    .del-task {
                        background-color: #D9D9D9;
                    }

                    .adding-task {
                        background-color: #05386B;
                        color: white;
                    }
                }
            }
        }
    }
}