.navbar {
    font-size: 35px;
    text-align: left;
    padding: 0px;
    padding-left: 50px;
    display: flex;
    justify-content: flex-start;

    .tasking1 {
        color: rgb(0, 0, 0, 0.2);
        text-decoration: none;
        padding: 10px 15px;
        background-color: rgb(217, 217, 217, 0.8);
    }

    .setting-pump2 {
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        background-color: #05386B;
    }
}