* {
  margin: 0;
  padding: 0;
}

.react-date-picker {
  background-color: white;
}

div.FormInput {
  margin: 5px 20px 5px 20px;
  display: inline-flex;
  flex-direction: column;
}

#user-search {
  width: 500px;
}

label {
  color: #82ca9d;
  font-weight: bold;
  text-align: left;
}

.Input {
  text-align: left;
}

#chart {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 1350px;
  height: 500px;
}
