.sensorCover {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #5CDB95;
}

.sensorInfo {
    width: 80%;
    border-radius: 10px;
    background-color: #fff;
    margin: auto;
}

.sensorGraph {
    height: 200px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #fff;
}

.downloadBtn {
    margin-left: 70px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}